<!DOCTYPE HTML>
<html xmlns:th="http://thmeleaf.org">
<body>
    <div class="navbar" th:fragment="header">
        <!-- Load an icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link th:href="@{/css/main.css}" rel="stylesheet">
        
        <a>Random cat</a>
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="login"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>
</body>
</html>