<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Random cat premium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="~{header :: header}">
</div>
<p>Do you want to see <b>second</b> random cat picture today?</p>
<a>All you need to do is <b>log in</b> and <b>buy premium</b>! You can log in </a>
<a href="/login">here</a>
<p></p>
<a>No account yet? You can register</a>
<a href="/registration">here</a>
</body>
</html>